
target/
dbt_packages/
logs/
data/mimic/annotations/*
!data/mimic/annotations/
!data/mimic/annotations/.gitkeep
models/debug/
data/mimic/physionet.org/
data/athena_vocabulary/*.csv
*.duckdb
*.user.yml